/* Global */

html {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f5f8fa;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: #636f7d;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.1;
  color: #233a54;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1.5rem;
}

a {
  color: #216ec7;
}

a:hover {
  color: #233a54;
  text-decoration: none;
}

p {
  margin: 0 0 0.8rem;
}

p:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 0 0.8rem;
}

@media screen and (min-width: 700px) {
  .container {
    width: 660px;
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 960px;
  }
}

/* Header */

header {
  padding: 1.2rem 0 2rem;
  background-color: #fff;
  text-align: center;
}

.header {
  margin: 1rem 0 0 0;
}

.header h1 {
  margin-bottom: 0.5rem;
}

.logo img {
  width: 6rem;
}

@media screen and (min-width: 700px) {
  .logo img {
    width: 8.5rem;
  }
}

/* Page body */

section {
  margin: 2rem 0 3rem;
}

section h2 {
  border-bottom: 0.063rem solid #dce2ea;
  padding-bottom: 1rem;
  margin-bottom: 1.8rem;
}

.demo {
  display: flex;
  flex-flow: column wrap;
}

@media screen and (min-width: 1000px) {
  .demo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.demoSearchBox {
  align-self: center;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .demoSearchBox {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.demoCode {
  flex: 1 auto;
  max-width: 100%;
}

.code {
  position: relative;
}

.code::before {
  background-color: #5b718b;
  color: #fff;
  content: "Code";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0 0.3rem 0 0.3rem;
  /* transform: translateY(-100%); */
}

.code pre,
.code code {
  background: transparent !important;
  font-size: 0.75rem !important;
}

.code pre {
  padding: 0 !important;
  margin: 0 !important;
  background: #fff !important;
  border-radius: 0.3rem;
  padding: 0.8rem !important;
}

.searchBox {
  border-radius: 0.3rem;
  background-color: #fff;
  display: inline-block;
  padding: 1rem;
  box-shadow: 0 0.3rem 1rem rgba(8, 38, 78, 0.2);
}

.searchBox .reactGiphySearchbox-searchForm-form {
  margin-bottom: 0.7rem;
}

.searchBox .reactGiphySearchbox-searchForm-form input {
  border: 0;
  padding: 0 0 0.4rem 0;
  border-bottom: 1px solid #d7dee2;
  color: #233a54;
}

.searchBox .reactGiphySearchbox-searchForm-form input::placeholder {
  color: #636f7d;
}

.searchBox .reactGiphySearchbox-searchForm-form input:focus {
  border-color: #b2bcc2;
}

/* Footer */

footer {
  font-size: 0.875rem;
  border-top: 1px solid #d7dee2;
  padding: 1.5rem 0 2rem;
}
