body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
div.demo-editor .rdw-editor-main {
  border-style: solid !important;
  height: 200px !important;
}
body {
  background: antiquewhite;
}
.rdw-option-wrapper {
  background: lightblue !important;
}
.public-DraftStyleDefault-block >
 span[style^='font-size:'] {
   font-size: 14px !important;
   background-color: aqua;
}.public-DraftStyleDefault-block >
span[style^='font-size:']:hover {
  font-size: 14px !important;
  background-color: blue;
}