.editRoot {
  position: relative;
}
.group-aef0dd70 {
  display: flex;
  position: relative;
  z-index: 0;
  width: 550px;
  height: 405px;
  /* margin-top: 50px; */
  align-content: center;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.group-aef0dd70::before {
  display: flex;
  position: relative;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: '';
  background: #fff;
  border: 1px solid #707070;
}

.rect-01a38f26 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  height: 175px;
  margin: 39px 37px 0;
  background: #fff;
  border: 1px solid #707070;
}

.rect-d355a678 {
  position: absolute;
  top: 0;
  right: -162px;
  bottom: -127px;
  left: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: auto;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
}

.rect-23433920 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -127px;
  box-sizing: border-box;
  width: 188px;
  height: 34px;
  margin: auto 137px auto 0;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
}

.rect-bc294398 {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: 0 0 36px 37px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 5px;
}

.rect-23820adc {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: 0 137px 36px 0;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
}

.rect-442d8aca {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: 0 37px 36px 0;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
}

.rect-0489d780 {
  display: flex;
  position: absolute;
  right: -162px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: 0 auto 79px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
}

.rect-3c794582 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -127px;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: auto 37px auto 0;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
}

.text-absolute-e33c1008 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 159px -125px 0;
}

.text-16bcd768 {
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}

.text-absolute-1d634390 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 58px -127px 0;
}

.text-absolute-6da24c64 {
  position: relative;
  display: flex;
  align-items: flex-end;
  align-items: center;
  /* margin: 0 -95px 86px 0; */
  z-index: 1;
}

.text-4cc4f200 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 158px 43px 0;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}

.text-fb94d700 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 58px 43px 0;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}

.text-175754d2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 43px 58px;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}

.grading_black_18dp-6a88704e {
  position: relative;
  width: 20px;
  height: 20px;
  /* margin: auto; */
  z-index: 1;
}

.v-stack-d3d660b8 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.v-stack-74446818 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 10px;
  margin: 4px auto;
}

.group-98aebb50 {
  position: relative;
  height: 12px;
}

.rect-55a80e48 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: #000;
}

.rect-a6a15098 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.5px;
  height: 1px;
  background: #000;
}

.rect-7499817c {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.5px;
  height: 1px;
  margin: 0 0 2.75px;
  background: #000;
}

.rect-e2cb9a08 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  margin: 2.75px 0 0;
  background: #000;
}

.rect-378331e0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  margin: auto 0;
  background: #000;
}

.svg-372330c0 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4.24px;
  height: 3.54px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4.24' height='3.54' viewBox='0 0 4.24 3.54' preserveAspectRatio='none'%3e%3cpath d='M1.41 2.13L.7 1.42l-.7.71 1.41 1.41L4.24.71 3.53 0z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grading_black_18dp-89af0668 {
  position: relative;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0 auto 0px;
}

.rect-4645a974 {
  position: relative;
  right: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: 0px 0px 0px 0;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
  z-index: -1;
}
.text-240bc850 {
  position: relative;
  right: 0;
  margin: -28px 0px 0px 40px;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}

.rect-4645a974_group {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  cursor: pointer;
  margin: 0px 138px 80px 0px;
}
.rect-4645a974_group:hover {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  background: rgb(77, 130, 245);
  /* border: 1px solid #707070; */
  border-radius: 17px;
  .text-240bc850 {
    position: relative;
    right: 0;
    margin: -28px 0px 0px 40px;
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: 400;
    color: #fff;
  }
  .rect-55a80e48_aa {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #fff;
  }

  .rect-a6a15098_aa {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4.5px;
    height: 1px;
    background: #fff;
  }

  .rect-7499817c_aa {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4.5px;
    height: 1px;
    margin: 0 0 2.75px;
    background: #fff;
  }

  .rect-e2cb9a08_aa {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    margin: 2.75px 0 0;
    background: #fff;
  }

  .rect-378331e0_aa {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    margin: auto 0;
    background: #fff;
  }
  .svg-372330c0_aa {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4.24px;
    height: 3.54px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4.24' height='3.54' viewBox='0 0 4.24 3.54' preserveAspectRatio='none'%3e%3cpath fill='white' d='M1.41 2.13L.7 1.42l-.7.71 1.41 1.41L4.24.71 3.53 0z'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.v-stack-d3d660b8_aa {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* margin: 78px 130px 10px 15px; */
}

.v-stack-74446818_aa {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 10px;
  /* margin: -68px 130px 10px 15px; */
  z-index: 1;
}

.group-98aebb50_aa {
  position: relative;
  height: 12px;
  width: 12px;
  margin: 12px 0px 0px 10px;
}

.rect-55a80e48_aa {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: #000;
}

.rect-a6a15098_aa {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.5px;
  height: 1px;
  background: #000;
}

.rect-7499817c_aa {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.5px;
  height: 1px;
  margin: 0 0 2.75px;
  background: #000;
}

.rect-e2cb9a08_aa {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  margin: 2.75px 0 0;
  background: #000;
}

.rect-378331e0_aa {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  margin: auto 0;
  background: #000;
}

.svg-372330c0_aa {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4.24px;
  height: 3.54px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4.24' height='3.54' viewBox='0 0 4.24 3.54' preserveAspectRatio='none'%3e%3cpath d='M1.41 2.13L.7 1.42l-.7.71 1.41 1.41L4.24.71 3.53 0z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grading_black_18dp-088e7310 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: 0 190px 86px 0;
}

.rect-446041b4 {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 88px;
  height: 34px;
  margin: 0 37px 79px 0;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 17px;
}

.text-00508d84 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 58px 86px 0;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}

.grading_black_18dp-27501ec4 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: 0 90px 86px 0;
}
