
.title {
  color: black;
}

/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

   html {
    box-sizing: border-box;
    overflow-y: scroll; /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%; /* iOS 8+ */
  }
  
  *,
  ::before,
  ::after {
    background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
  }
  
  ::before,
  ::after {
    text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
  }
  
  * {
    padding: 0; /* Reset `padding` and `margin` of all elements */
    margin: 0;
  }
  
  /* # =================================================================
     # General elements
     # ================================================================= */
  
  /* Add the correct display in iOS 4-7.*/
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  hr {
    overflow: visible; /* Show the overflow in Edge and IE */
  }
  
  /*
  * Correct `block` display not defined for any HTML5 element in IE 8/9
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox
  * Correct `block` display not defined for `main` in IE 11
  */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
  summary {
    display: list-item; /* Add the correct display in all browsers */
  }
  
  small {
    font-size: 80%; /* Set font-size to 80% in `small` elements */
  }
  
  [hidden],
  template {
    display: none; /* Add the correct display in IE */
  }
  
  abbr[title] {
    border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
    text-decoration: none; /* Remove text decoration in Firefox 40+ */
  }
  
  a {
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
  }
  
  a:active,
  a:hover {
    outline-width: 0; /* Remove the outline when hovering in all browsers */
  }
  
  code,
  kbd,
  pre,
  samp {
    font-family: "游ゴシック", "Yu Gothic"; /* Specify the font family of code elements */
  }
  
  b,
  strong {
    font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
  }
  
  dfn {
    font-style: italic; /* Address styling not present in Safari and Chrome */
  }
  
  /* Address styling not present in IE 8/9 */
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  /* https://gist.github.com/unruthless/413930 */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* # =================================================================
     # Forms
     # ================================================================= */
  
  input {
    border-radius: 0;
  }
  
  /* Apply cursor pointer to button elements */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"],
  [role="button"] {
    cursor: pointer;
  }
  
  /* Replace pointer cursor in disabled elements */
  [disabled] {
    cursor: default;
  }
  
  [type="number"] {
    width: auto; /* Firefox 36+ */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* Safari 8+ */
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Safari 8 */
  }
  
  textarea {
    overflow: auto; /* Internet Explorer 11+ */
    resize: vertical; /* Specify textarea resizability */
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font: inherit; /* Specify font inheritance of form elements */
  }
  
  optgroup {
    font-weight: bold; /* Restore the font weight unset by the previous rule. */
  }
  
  button {
    overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
  }
  
  /* Remove inner padding and border in Firefox 4+ */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: 0;
    padding: 0;
  }
  
  /* Replace focus style removed in the border reset above */
  button:-moz-focusring,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    outline: 1px dotted ButtonText;
  }
  
  button,
  html [type="button"], /* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
  }
  
  button,
  select {
    text-transform: none; /* Firefox 40+, Internet Explorer 11- */
  }
  
  /* Remove the default button styling in all browsers */
  button,
  input,
  select,
  textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }
  
  /* Style select like a standard input */
  select {
    -moz-appearance: none; /* Firefox 36+ */
    -webkit-appearance: none; /* Chrome 41+ */
  }
  
  select::-ms-expand {
    display: none; /* Internet Explorer 11+ */
  }
  
  select::-ms-value {
    color: currentColor; /* Internet Explorer 11+ */
  }
  
  legend {
    border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
    display: table; /* Correct the text wrapping in Edge and IE */
    max-width: 100%; /* Correct the text wrapping in Edge and IE */
    white-space: normal; /* Correct the text wrapping in Edge and IE */
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
    font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px; /* Correct the outline style in Safari */
  }
  
  /* # =================================================================
     # Specify media element style
     # ================================================================= */
  
  img {
    border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
  }
  
  /* Add the correct vertical alignment in Chrome, Firefox, and Opera */
  progress {
    vertical-align: baseline;
  }
  
  svg:not(:root) {
    overflow: hidden; /* Internet Explorer 11- */
  }
  
  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
  }
  
  /* # =================================================================
     # Accessibility
     # ================================================================= */
  
  /* Hide content from screens but not screenreaders */
  @media screen {
    [hidden~="screen"] {
      display: inherit;
    }
    [hidden~="screen"]:not(:active):not(:focus):not(:target) {
      position: absolute !important;
      clip: rect(0 0 0 0) !important;
    }
  }
  
  /* Specify the progress cursor of updating elements */
  [aria-busy="true"] {
    cursor: progress;
  }
  
  /* Specify the pointer cursor of trigger elements */
  [aria-controls] {
    cursor: pointer;
  }
  
  /* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
  [aria-disabled] {
    cursor: default;
  }
  
  /* # =================================================================
     # Selection
     # ================================================================= */
  
  /* Specify text selection background color and omit drop shadow */
  
  ::-moz-selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
  }
  
  ::selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
  }

/* CSS Document */

body{
font: 14px/1.6 "游ゴシック", "Yu Gothic";;
margin:0;
color: #313131;
}

img{
outline:none;
border-style:none;
}

a{
	color:blue;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
a:visited{
	color:blue;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover {
	color: #F5A862;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/*****HEADER*****/
header{
	display: block;
	width:60%;
	margin-left: 20%;
	overflow: hidden;
}
header h1{
	font-size:120%;	/*フォントサイズの調整*/
	color:#313131;	/*文字色の変更*/
	padding-top: 10px;	/*文字上部に余白*/
	padding-bottom: 10px;	/*文字下部に余白*/
	padding-left: 20px;	/*文字左側に余白*/
	padding-right: 20px;	/*文字右側に余白*/
	margin-top: 20px;	/*ロゴ上部に余白*/
	margin-bottom: 20px;	/*ロゴ下部に余白*/
	border:1px solid #313131;	/*文字の周りに線を描く*/
	border-radius: 5px;	/*線の角に丸みを付ける*/
	letter-spacing: 3px;	/*文字と文字の間隔をあける*/
	font-weight:400;	/*文字の太さの変更*/
	float: left;	/*左側にfloat*/
}
header p{
	font-size:100%;
	color:#313131;
	float: left;
}

/*****BRANDING*****/
#branding{
	width: 60%;	/*横幅指定*/
	margin-left: 20%; /*左端から20%右側に動かす*/
	background-color: #313131; /*背景色の指定*/
	margin-bottom: 20px;
	overflow: hidden; /*おまじない*/
}
#branding p{
	color: #fff; /*文字色の変更*/
	font-size: 120%; /*フォントサイズの調整*/
	letter-spacing: 10px; /*文字と文字の間隔をあける*/
	line-height: 300px; /*行間の指定（ブランディングの高さを決める）*/
	padding-left: 3%; /*文字の左側に余白をあける*/
}
h1 {
	font-weight: bold;
}

/*No.01*/
.ui.attached.tabular.menu {
	height: 50px;
}
.ui.top.attached.menu>.item:first-child {
	margin-left: 15px;
}
.ui.tabular.menu .item {
	background: #A3A2B0;
	border-left: 1px solid #A3A2B0;
	border-right: 1px solid #A3A2B0;
	border-top: 1px solid #A3A2B0;
	margin-right: 8px;
	margin-top: 18px;
  color: white;
  text-align: center;
	height: 32px;
  width: 128px;
  border-radius: 0.28571429rem 0.28571429rem 0 0;
}
.ui.tabular.menu .item.active {
	background: #FFFFFF;
	color: gray;
	border-left: 1px solid #A3A2B0;
	border-right: 1px solid #A3A2B0;
	border-top: 1px solid #A3A2B0;
	margin-right: 8px;
	margin-top: 0px;
	font-weight: normal;
  text-align: center;
	height: 50px;
	width: 128px;
}
.ui.tabular.menu .item.visited {
	background: #FCFCFC;
	border-left: 1px solid #A3A2B0;
	border-right: 1px solid #A3A2B0;
	border-top: 1px solid #A3A2B0;
	color: #333333;
}
.ui.tabular.menu .item:first-child {
	background-color: #A3A2B0;
	background-image: url(../images/new-box-white.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 0 2.5%;
  background-position: 3% 50%; 
  background-size: 15%;
}
.ui.tabular.menu .item:first-child.active {
	background: #FFFFFF;
	color: gray;
	background-image: url(../images/new-box-gray.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 0 2.5%;
  background-position: 3% 50%; 
  background-size: 15%;
}
.ui.tabular.menu .item:nth-child(2) {
	background-color: #A3A2B0;
	background-image: url(../images/search-white.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 3% 50%; 
  background-size: 18%;
}
.ui.tabular.menu .item:nth-child(2).active {
	background: #FFFFFF;
	color: gray;
	background-image: url(../images/search-gray.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 3% 50%; 
  background-size: 18%;
}
.ui.tabular.menu .item:last-child {
  width: 60px;
  font-size: 200%;
  padding: 0 1.2%;
}
.ui.tabular.menu .item.active:last-child {
	width: 60px;
}
#new_icon {
	border-style: solid;
	border-color: gray;
	background-color: gray;
	color: white;
	font-size: 20%;
	line-height: 13px;
	width: 30%;
	text-align: center;
	border-radius: 2px;
}

/*No.02*/
.clear{
    clear:both;
}
.content ul{
	width: 100%;	/*横幅の指定*/
	margin-right: 0px;	/*右に配置する*/
	list-style: none; /*リストのスタイルを削除*/
}
.content li{
	width: 90%;	/*横幅の指定*/
	border-top: 1px solid #d4d4d5;	/*線を描く*/
	border-right: 1px solid #d4d4d5;	/*線を描く*/
	border-bottom: 1px solid #d4d4d5;	/*線を描く*/
	border-left: 1px solid #d4d4d5;	/*線を描く*/
	box-sizing: border-box; /*線の幅をliの横幅に含める*/
  text-align: center;	/*文字を中央に*/
  vertical-align: middle;
	float: right;	/*左から並べる*/
	margin-top: 5px;
	background-color: #9dadb0;
  border-radius: 0.28571429rem 0 0 0.28571429rem;
}
.content li:last-child{
	border-bottom: 1px solid #d4d4d5;	/*li要素の最後の物は右側に線を描く*/
	margin-bottom: 5px;
	background-color: #8d7bc0;
}
.content li:last-child a{
	color:#000000;	/*文字色の変更*/
}
.content a{
  font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	display: block;	/*1つのli全体にリンクを有効にする*/
	text-decoration: none;	/*ブラウザ標準のリンク装飾をオフに*/
	color:#FFFFFF;	/*文字色の変更*/
  letter-spacing: 0px;	/*文字と文字の間隔をあける*/
  font-size: 13px;
	margin-right: 0px;
	// margin-top: 5px;
	width: 100%;
	height: 25px;
}
.content a:hover{
	background-color: #333381;	/*背景色の指定*/
	color: #fff;	/*文字色の変更*/
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;	/*ホバー時の動きをなめらかにする*/
}
// .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
// 	max-height: 450px;
// }
.navbar-fixed-top {
	position: absolute;
	right: 80%;
	left: 0px;
}
.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
	padding: inherit;
}

.ui.accordion .accordion .active.title .angle.left.icon, 
.ui.accordion .active.title .angle.left.icon {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	vertical-align: middle;
	margin-right: 8px;
	color:#FFFFFF;	/*文字色の変更*/
}
.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
	background-color: #7a9297;	/*背景色の指定*/
	text-align: left;
	height: 30px;
	padding: unset;
	color:#FFFFFF;	/*文字色の変更*/
  width: 100%;
}
.ui.styled.accordion .accordion .title, .ui.styled.accordion .title span {
	float: right;
	padding: 1px;
	margin-left: 5px;
	color:#FFFFFF;	/*文字色の変更*/
  width: 100%;
	text-align: left;
  margin-top: 1px;
}
.ui.styled.accordion .accordion .active.title, 
.ui.styled.accordion .accordion .title:hover, 
.ui.styled.accordion .active.title, .ui.styled.accordion .title:hover {
	background-color: #7a9297;	/*背景色の指定*/
  height: 30px;
  width: 100%;
	text-align: left;
}
.ui.accordion .title:not(.ui) {
	padding: unset;
}
.ui.styled.accordion .accordion .content, 
.ui.styled.accordion .content {
	margin-right: 0px;
}
.ui.styled.accordion, .ui.styled.accordion .accordion {
	box-shadow: none;
}
.ui.styled.accordion .active.title {
	height: 30px;
}

.menu_scrollbar {
	height: 460px;
	overflow-y: scroll;

}
.tab_container {
	width: 100%;
	// height: 700px;
}
.menu_title {
	display:inline;
	float: left;
  width: 15%;
  margin-top: 1%;
}
.menu_title_name {
	display:block;
	margin-bottom: 5%;
}

.content_list {
	border-style: solid;
	// border-color: #A3A2B0;
	background: #7a9297;
	color:#FFFFFF;	/*文字色の変更*/
	width: 83%;
	text-align: right;
  float: left;
  margin-left: 2%;
  border-radius: 0.28571429rem 0.28571429rem 0.28571429rem 0.28571429rem;
  margin-top: 1%;
}


.content_list span {
	float: left;
	padding: 1px;
	margin-left: 5px;
	color:#FFFFFF;	/*文字色の変更*/
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  height: 750px;
  width: 1550px;
}

.ui.attached.tabular.menu {
  margin-left: 1%;
  width: 70%;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary {
  float: right;
  margin-top: -2.2%;
  color: #9dadb0;
  border-color: #9dadb0;
}
#new {
  margin-right: 1%;
  margin-top: -3.0%;
}
#delete {
  margin-right: 1%;
  margin-top: -.5%;
}

//メニューのmodal
.ui.accordion .accordion .title .dropdown.icon, .ui.accordion .title .dropdown.icon,
.ui.accordion .accordion .active.title .dropdown.icon, .ui.accordion .active.title .dropdown.icon {
  float: right;
}
//記事編集のmodal
.MuiDialogContent-root .accordion.ui.fluid .title .dropdown.icon,
.MuiDialogContent-root .accordion.ui.fluid :active.title .dropdown.icon {
  float: right;
  margin-right: 750px;
  margin-top: 3px;
}

.MuiDialogContent-root .ui.accordion .accordion .title .dropdown.icon:before, 
.MuiDialogContent-root .ui.accordion .title .dropdown.icon:before {
  content: '';
}

.MuiDialogContent-root .accordion.ui.fluid .title .dropdown.icon:after {
  content: "›";
}
.MuiDialogContent-root .accordion.ui.fluid .active.title .dropdown.icon:after {
  content: "›";
}
.MuiDialogContent-root .accordion.ui.fluid .title,
.MuiDialogContent-root .accordion.ui.fluid .active.title {
  font-size: 18px;
  font-weight: 900;
}
.ui.styled.accordion .accordion .title, .ui.styled.accordion>.title{
  border-radius: 0.28571429rem 0 0 0.28571429rem;
}
.ui.button {
  border: solid;
  background-color: #FFFFFF;
  border-color: rgb(224 225 226);
  border-radius: 22px;
  border-width: 1px;
}
.ui.primary.button {
  border-radius: 22px;
  background-color: #8d7bc0;
}

.MuiDialog-paperWidthSm {
  max-width: none;
  width: 90%;
  height: 90%;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary {
  background-color: #0D93EB;
  color: #FFFFFF;
  width: 150px;
  margin-bottom: 3%;
  margin-right: 3%;
}

br{
  display: inline;
  line-height: 16px;
}

.edit_title_label {
  font-size: 38.67px;
  font-weight: 500;
  color: #000000;
  margin-left: 10%;
}
.dialog_hr {
  margin-left: 10%;
  width: auto;
}
.MuiDialogContent-root P:first-child {
  line-height: inherit;
}

.start_label,
.end_label,
.target_label {
  vertical-align: middle;
  padding-top: 1%;
  font-weight: bold;
  color: #000000;
}
.start_label,
.start_date,
.start_time,
.start_setting,
.end_label,
.end_date,
.end_time,
.start_oneday,
.end_setting,
.target_area,
.target_label,
.start .MuiCheckbox-root,
.end .MuiCheckbox-root,
.ui.selection.dropdown {
  float: left;
}
.start, .end {
  width: auto;
  height: 33px;
}
.target {
  width: auto;
  height: 66px;
}

.ui.selection.dropdown {
  margin-left: 16px;
  width: 100px;
}
.start_time .MuiFormControl-root.MuiTextField-root, 
.ui.selection.dropdown,
.end_time .MuiFormControl-root.MuiTextField-root {
  height: 33px;
}
.start .MuiCheckbox-root,
.end .MuiCheckbox-root {
  font-size: unset;
  padding: unset;
}

.start .MuiCheckbox-root .MuiSvgIcon-root,
.end .MuiCheckbox-root .MuiSvgIcon-root {
  position: relative;
  margin-top: 5px;
}

.start_date .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl,
.end_date .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl,
.target_area {
  margin-left: 20px;
  height: 33px;
  // width: 200px;
}
.start_time,
.end_time,
.start .MuiCheckbox-root,
.end .MuiCheckbox-root {
  margin-left: 16px;
}
.start_setting,
.start_oneday,
.end_setting {
  margin-left: 5px;
  position: relative;
  margin-top: 10px;
}
.start .MuiCheckbox-root,
.end .MuiCheckbox-root {
  margin-top: 3px;
}
.start, .end, .target {
  line-height: 16px;
}
.MuiCheckbox-colorPrimary.Mui-checked {
  color: #3AABBA !important;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl:before {
  border-bottom: none ;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  border: 1px solid;
  border-color: #A3A2B0;
  border-radius: 3px;
}
.start_time .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl,
.end_time .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  width: 75px;
  padding: 2% 0% 2% 10%;
  min-width: fit-content;
  border-radius: 3px;
}

.start_date .MuiInputBase-input.MuiInput-input,
.end_date .MuiInputBase-input.MuiInput-input {
  width: 240px;
  word-spacing: 6px;
  font-size: 10px;
  text-align: right;
  padding: 2% 18% 2%;
  // margin-left: 10px;
}
.start_time .MuiInputBase-input.MuiInput-input,
.end_time .MuiInputBase-input.MuiInput-input {
  color: #A3A2B0;
  width: 75px;
}

textarea {
  border: 1px solid;
  border-color: #A3A2B0;
  color: hsl(0deg 3% 73%);
  font-size: 20px;
  font-weight: bold;
  width: 770px;
  border-radius: 3px;
}

.start_date .MuiFormControl-root.MuiTextField-root,
.start_time .MuiFormControl-root.MuiTextField-root,
.end_date .MuiFormControl-root.MuiTextField-root,
.end_time .MuiFormControl-root.MuiTextField-root {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
}

#dialog1 .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.react-draggable.MuiPaper-elevation24.MuiPaper-rounded {
  max-width: 900px;
}

input[type="text"] {
  position: relative;
}

#start_date_icon {
  content: url(../images/calendar.png);
  margin-top: -9.0%; 
  margin-left: 35px; 
}

input[type="text"]::-webkit-calendar-picker-indicator,
input[type="text"]::-webkit-datetime-edit-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type="text"]::-webkit-datetime-edit-fields-wrapper {
  .start_date_year {display: none;};
  background-color: #eee; letter-spacing: 5px;}
input[type="text"]::-webkit-datetime-edit-fields-wrapper:active {
  background-color: #eee; letter-spacing: 3px;
}
#time::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: solid 2px #A3A2B0;;
  border-right: solid 2px #A3A2B0;;
  position: relative;
  top: 50%;
  left: -15px;
  margin-top: -25%;
  transform: rotate(45deg);
  z-index:0;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
#time .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  
  color: transparent;
  background: transparent;
}

// comment
#dialog2 .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.react-draggable.MuiPaper-elevation24.MuiPaper-rounded:nth-child(1) {
  max-width: 500px;
  max-height: 650px;
}
div.system_date span {
  margin: 43%;
}
div.system_info,
div.system_time,
.comment_head,
.comment_mailto,
.comment_word,
.comment_content,
.comment_like,
.comment_time {
  float: left;
}

div.system_info,
.comment_word,
.comment_mailto , 
.comment_word {
  margin-left: 2%;
  width: auto;
}
.comment_avatar {
  border-radius: 50%;
  border: #b69ba2 solid;
  background-color: #b69ba2;
  color:#F7F2F2;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}
.comment_avatar span {
  position: relative;
  text-align: center;
  display: block;
  padding: 18% 1%;
}
.comment_name {
  margin-top: 12px;
}
.comment_content {
  width: 350px;
  margin-top: 0%;
  height: 50px;
  background-color: #F5F6FA;
}
.comment_mailto , 
.comment_word {
  margin-top: 15px;
}
.comment_foot {
  float: right;
  width: 80px;
}
.comment_word {
  margin-left: 15px;
}
.comment_head_self {
  float: right;
}

.list {
  float: left;
  max-width: 900px;
}

.ui.table:last-child {
  width: 1255px;
  margin-top: 30px;
  margin-left: 3.5%;
}

.MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded {
  width: 1250px;
  margin-top: 1px;
  margin-right: 0.5%;
  float: right;
}

.MuiTableRow-root.MuiTableRow-head {
  background-color: #adacac;
}
.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignRight {
  font-size: large;
  text-align: center;
  font-weight: 500;
}
.MuiTableCell-root.MuiTableCell-body {
  text-align: center;
}