

.container {
  display: flex;
  height: 100%;
}


.sider {
  flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  position: relative;
  height: 100%;
  min-width: 0;
  background: #001529;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}