.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  color: white;
  align-items: center;
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}

.default_Theme {
  background-color: #d1f4ff;
  color: #000000;
  cursor: pointer;
}

.display_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  width: 100%;
}

.pie_Size {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  width: 100%;
}

th {
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}

.dialogTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MuiDialog-root > .MuiBackdrop-root{
  position: relative !important;
}
.MuiDialog-paperWidthSm {
  max-width: 600px !important;
}
.dialogAdd{
  display: block;
  margin-top: 10px;
}
.Add1,.Add2,.Add3{
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.Addbtn{
  display: flex;
  justify-content: flex-end;
  width: 100;
  padding: 0 2px 0 0;
}