.graphContainer {
  width: 50vw;
  height: 50vh;
  background: white;
  padding: 30px 20px 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.3);
}

.link {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 71px;
  bottom: 0px;
  left: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 400px;
  transform: $ {
    props=>props.show?'translate(0%)': "translate(-100%)";
  }
}
