.App {
  font-family: sans-serif;
  text-align: center;
}
.PLACEHOLDER{
  background-color: pink;
  padding: 5px;
  border-radius: 5px;
}
.PLACEHOLDER2{
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
}