.App {
  font-family: sans-serif;
  text-align: center;
}
hr {
  border-top: 1px solid #bbb;
  text-align: center;
}
.hr1:before {
  content: "オリジナル素材";
  display: flex;
  position: relative;
}
.hr2:after {
  content: "コンテナ素材履歴";
  display: flex;
  position: relative;
}
li {
  position: relative;
}
#selected_li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: -1.5em;
  width: 15px;
  height: 5px;
  border-left: 2px solid #e8437b;
  border-bottom: 2px solid #e8437b;
  transform: rotate(-45deg);
}
.list_test-wrap {
  list-style: none; /* デフォルトのアイコンを消す */
  margin: 0; /* デフォルト指定上書き */
  padding: 0; /* デフォルト指定上書き */
}

.list_test:before {
  content: ""; /* 空の要素作成 */
  width: 10px; /* 幅指定 */
  height: 10px; /* 高さ指定 */
  display: inline-block; /* インラインブロックにする */
  background-color: #0074bf; /* 背景色指定 */
  position: relative; /* 位置調整 */
  top: -2px; /* 位置指定 */
  border-radius: 50%; /* 要素を丸くする */
  margin-right: 5px; /* 余白指定 */
}

.list_test {
  padding: 1px; /* 余白指定 */
  background-color: #65ace4; /* 背景色指定 */
  border-radius: 5px; /* 角丸指定 */
  margin-bottom: 2px; /* 要素と要素の間指定 */
  color: #fff; /* 文字色指定 */
  font-size: 20px; /* 文字サイズ指定 */
}
#selected_li {
  padding: 1px; /* 余白指定 */
  background-color: #fcf;
  border-radius: 10px; /* 角丸指定 */
  color: #000000; /* 文字色指定 */
  font-size: 20px; /* 文字サイズ指定 */
  margin-right: 5px; /* 余白指定 */
}
.link {
  text-decoration: none;
}
#diffbtn {
  text-decoration: none;
}
#current {
  background-color: #fcf;
}
