.container {
  position: relative;
}

.component {
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.component::-webkit-file-upload-button {
  cursor: pointer;
}
