.editor {
    font-family: 'Georgia', serif;
    font-size: 14px;
}

.editor__container{
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.editor__container.public-DraftEditorPlaceholder-root,
.editor__container.public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.editor__container.public-DraftEditor-content {
    min-height: 100px;
}

.editor_placeholder .public-DraftEditorPlaceholder-root {
    color: #999;
    position: absolute;
    margin-left: 5px;
    margin-top: -5px;
}

.editor_placeholder .public-DraftEditorPlaceholder-hasFocus {
    opacity: .5;
}

.editor__container.RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.editor__container.public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}

.editor__panel {
    background: #fafafa;
    padding: 20px;
}

.fire > * {
    display: inline-block;
}

.code-block {
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 4px;
    background-color: #eee;
    color: #6a2729;
}

.public-DraftStyleDefault-block {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 300;
}

h1 .public-DraftStyleDefault-block, h2 .public-DraftStyleDefault-block, h3 .public-DraftStyleDefault-block{
    font-weight: 600;
}
.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
  }